@charset "utf-8";
/* CSS Document */

.vovojinjin
{
	width: 1920px;
	height: auto;
	margin: 0 auto;
}
@font-face
{
	font-family: Spacemono;
	src: url(../font/SpaceMono-Regular.ttf);
}

@font-face
{
	font-family: Spacemonobold;
	src: url(../font/SpaceMono-Bold.ttf);
}
.nen
{
	width: 1920px;
	height: 1080px;
	position: fixed;
	background: url(../image/1.jpg);
	top: 0px;
	z-index: -500;
}

.chuchay
{
	position: absolute;
	top: 350px;
	left: 1820px;
	transform: translate(-50%, -50%)
}
.chuchay1
{
	position: absolute;
	top: 400px;
	left: 1820px;
	transform: translate(-50%, -50%);
}
.chuchay2
{
	position: absolute;
	top: 450px;
	left: 1820px;
	transform: translate(-50%, -50%)
}
.chuchay3
{
	position: absolute;
	top: 500px;
	left: 1820px;
	transform: translate(-50%, -50%)
}
.chuchay h2
{
	width: 450px;
	position: absolute;
	transform: translate(-80%, -60%);
	margin: 0px;
	padding: 0px 0px 0px 10px;
	color: #fff;
	-webkit-text-stroke: 1px #000;
	animation: animate alternate 6s infinite;
	font-size: 60px;
	font-family: spacemonobold;
}
.chuchay1 h2
{
	position: absolute;
	transform: translate(-90%, -35%);
	margin: 0px;
	padding: 0px;
	color: #fff;
	-webkit-text-stroke: 1px #000;
	animation: animate alternate 6s infinite;
	font-size: 60px;
	font-family: spacemonobold;
}
.chuchay2 h2
{
	position: absolute;
	transform: translate(-90%, -5%);
	margin: 0px;
	padding: 0px;
	color: #fff;
	-webkit-text-stroke: 1px #000;
	animation: animate alternate 6s infinite;
	font-size: 60px;
	font-family: spacemonobold;
}
.chuchay3 h2
{
	position: absolute;
	transform: translate(-77%, 30%);
	margin: 0px;
	width: 480px;
	padding: 0px 20px 0px 30px;
	color: #fff;
	-webkit-text-stroke: 1px #000;
	animation: animate alternate 6s infinite;
	font-size: 60px;
	font-family: spacemonobold;
}


.chuchay h2:nth-child(1)
{
	animation-delay: -0.04s;
	background-color: #FF0000;
}
.chuchay h2:nth-child(2)
{
	animation-delay: -0.08s;
}
.chuchay h2:nth-child(3)
{
	animation-delay: -0.12s;
}
.chuchay h2:nth-child(4)
{
	animation-delay: -0.16s;
	color: black;
}

.chuchay1 h2:nth-child(1)
{
	animation-delay: -0.04s;
}
.chuchay1 h2:nth-child(2)
{
	animation-delay: -0.08s;
}
.chuchay1 h2:nth-child(3)
{
	animation-delay: -0.12s;
}
.chuchay1 h2:nth-child(4)
{
	animation-delay: -0.16s;
}
.chuchay1 h2:nth-child(5)
{
	animation-delay: -0.20s;
}
.chuchay1 h2:nth-child(6)
{
	animation-delay: -0.24s;
	color: #FF0000;
}


.chuchay2 h2:nth-child(1)
{
	animation-delay: -0.04s;
	color: #000000;
}
.chuchay2 h2:nth-child(2)
{
	animation-delay: -0.08s;
	color: #000000;
}
.chuchay2 h2:nth-child(3)
{
	animation-delay: -0.12s;
	color: #000000;
}
.chuchay2 h2:nth-child(4)
{
	animation-delay: -0.16s;
	color: #000000;
}
.chuchay2 h2:nth-child(5)
{
	animation-delay: -0.20s;
	color: #000000;
}
.chuchay2 h2:nth-child(6)
{
	animation-delay: -0.24s;
	color: #000000;
}
.chuchay2 h2:nth-child(7)
{
	animation-delay: -0.28s;
	color: #000000;
}
.chuchay2 h2:nth-child(8)
{
	animation-delay: -0.32s;
	color: #FFFFFF;
}

.chuchay3 h2:nth-child(1)
{
	animation-delay: -0.04s;
	background-color: #FF0000;
}
.chuchay3 h2:nth-child(2)
{
	animation-delay: -0.12s;
}
.chuchay3 h2:nth-child(3)
{
	animation-delay: -0.20s;
}
.chuchay3 h2:nth-child(4)
{
	animation-delay: -0.28s;
	color: black;
}

@keyframes animate
{
	0%, 100%
	{
		top: 0px;
		left: -50px;
	}
	30%
	{
		top: 0px;
		left: -100px;
	}
	50%
	{
		top: 0px;
		left: -50px;
	}
	70%
	{
		top: 0px;
		left: -100px;
	}
}




.home1
{
	width: 1920px;
	height: 207px;
	top: 0px;
	position: fixed;
}
.home1left
{
	width: 330px;
	height: 207px;
	float: left;
}
.home1left img
{
	margin: 30px 0px 0px 125px;
}
.home1right
{
	width: 330px;
	height: 207px;
	font-family: Spacemonobold;
	float: right;
	font-size: 15px;
}
.home1right p
{
	margin: 90px 0px 0px 0px;
	padding-left: 50px;
}
.home1center
{
	width: 1260px;
	height: 207px;
	float: left;
}
.home2
{
	width: 80px;
	height: 150px;
	font-size: 30px;
	font-family: spacemonobold;
	padding: 50px 0px 0px 110px;
	position: fixed;
	top: 207px;
}
.home2 ul
{
	list-style: none;
}
.home2 ul li
{
	width: 150px;
}
.home2 ul li a:hover
{
	text-decoration:underline;
	text-decoration-color: #FF0000;
}
.home2 ul li a
{
	text-decoration: none;
	color: black;
}
.home3
{
	width: 1920px;
	height: 207px;
	position: fixed;
	top: 870px;
}
.home3left
{
	width: 220px;
	height: 207px;
	float: left;
	padding-left: 110px;
}
.home3center
{
	width: 1120px;
	height: 207px;
	float: left;
}
.home3right
{
	width: 470px;
	height: 117px;
	float: right;
	font-family: spacemonobold;
	font-size: 15px;
	padding-top: 90px;
}

.home3left ul li a
{
	color: white;
}
.home3left ul li
{
	list-style: none;
	margin: 80px 10px 0px 0px;
	display: inline-block;
	font-size: 23px;
	padding: 5px 9px;
	color: black;
	background-color: #000000;
	border: 1px solid #000000;
	border-radius: 50%;
	transition: .1s;
}

.home3left ul li:hover
{
	background-color: #FF0000;
	border: 1px solid #FF0000;
}
.animatehome
{
	width: 1920px;
	height: 1080px;
}
.work
{
	width: 1920px;
	height: auto;
}
.workitem1
{
	width: 1765px;
	height: 519px;
	padding: 68px 0px 0px 155px;
}
.hinh1
{
	width: 535px;
	height: 450px;
	background-color: #FF0000;
	float: left;
	z-index: -5;
}
.hinh1 img:hover
{
	filter: grayscale(100%);
	-webkit-filter: grayscale(100%);
	z-index: -100;
	box-shadow: -10px 10px 0px 0px black;
	transition: .5s;
}
.ten1
{
	width: 687px;
	height: 242px;
	background-color: black;
	z-index: 100;
	float: left;
	margin: 100px 0px 0px -200px;
	color: white;
	font-family: spacemonobold;
	padding: 15px 0px 0px 50px;
	font-size: 150%;
}
.ten1 h1
{
	color: white;
	font-size:50px;
}
.ten1 a
{
	text-decoration: none;
	color: white;
}
.ten1 p
{
	margin: 0px;
	font-size: 120%;
}
.ten1:hover
{
	background: #DB1212;
	transition: 0.5s;
}
.workitem2
{
	width: 1765px;
	height: 519px;
	padding: 68px 155px 0px 0px;
}
.hinh2
{
	width: 535px;
	height: 450px;
	background-color: #FF0000;
	float: right;
	z-index: -5;
}
.hinh2 img:hover
{
	filter: grayscale(100%);
	-webkit-filter: grayscale(100%);
	z-index: -100;
	box-shadow: -10px 10px 0px 0px black;
	transition: .5s;
}
.ten2
{
	width: 687px;
	height: 242px;
	background-color: black;
	z-index: 100;
	float: right;
	margin: 100px -200px 0px 0px;
	color: white;
	font-family: spacemonobold;
	padding: 15px 0px 0px 50px;
	font-size: 150%;
}
.ten2 h1
{
	color: white;
	font-size:50px;
}
.ten2 a
{
	text-decoration: none;
	color: white;
}
.ten2 p
{
	margin: 0px;
	font-size: 120%;
}
.ten2:hover
{
	background: #DB1212;
	transition: 0.5s;
}
.workitem3
{
	width: 1920px;
	height: 210px;
}
 #bodymovin{
            width:100%;
            height:100%;
            display:block;
            overflow: hidden;
            transform: translate3d(0,0,0);
            text-align: center;
            opacity: 60%;
        }




/*back to top*/

.container {
    width: 100px;
    margin: auto;
}
/* định dạng cho button */
#myBtn {
  display: none; /* Mặc định button sẽ được ẩn*/
  position: fixed;
  bottom: 50px;
  right: 50px; 
  z-index: 1001; /* button được ưu tiên hiển thị đè lên các phần khác*/
  border: none;
  outline: none;
  background-color: #800EAB;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 50px;
  width: 50px;
  height: 50px;
}

html
{
	scroll-behavior: smooth;
}
 
#myBtn:hover {
  background-color: #FF0000;
}